<div class="box-transfer flex gap-6 pb-3">
  <h2 class="text-gray-800 font-bold tracking-widest leading-tight">Send to</h2>
  <div class="gap-4">
    <p class="text-lg text-gray-600 tracking-wider">Address</p>
    <div class="">
      <!-- Address -->
      <div class="relative my-3">
        <input
          type="text"
          id="input-group-1"
          (blur)="checkWallet()"
          [(ngModel)]="recipientAddress"
          [style]="'min-width:400px;'"
          class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pr-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Enter Address" />
        <!-- <div class="flex absolute inset-y-0 right-0 items-center pr-3 cursor-pointer">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"></path>
            <path d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z"></path>
          </svg>
        </div> -->
      </div>
      <p *ngIf="invalidName" class="text-rose-600 text-md">Wallet address does not exist</p>
      <p *ngIf="addressTransfer" class="text-green-600 text-md">Send to: {{ addressTransfer }}</p>
    </div>
  </div>
</div>
<div class="box-transfer flex gap-6 pb-3">
  <h2 class="text-gray-800 font-bold tracking-widest leading-tight">Withdraw amount</h2>
  <div class="gap-4">
    <p class="text-lg text-gray-600 tracking-wider">Amount</p>
    <div class="relative my-3">
      <div class="flex">
        <input
          [(ngModel)]="sendAmount"
          type="number"
          (blur)="checkAmountChange($event)"
          id="input-group-1"
          [style]="'min-width:400px;'"
          class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pr-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="" />
        <div class="flex absolute inset-y-0 right-0 items-center pr-3">
          <span class="cursor-pointer" (click)="getMaxToken()">MAX</span>
          <span
            class="inline-flex items-center px-3 ml-3 text-sm text-gray-900 bg-gray-200 rounded-r-md border border-l-0 border-gray-300 dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
            Aura
          </span>
        </div>
      </div>
    </div>
    <p *ngIf="isExceedAmount" class="text-rose-600 text-md">Insufficient balance</p>
  </div>
</div>
<div class="box-transfer flex gap-6 pb-3">
  <h2 class="text-gray-800 font-bold tracking-widest leading-tight"></h2>
  <div class="gap-4">
    <button
      type="button"
      [disabled]="!isValidForm"
      [ngClass]="btnColor.PinkToOrange"
      [class.btn-disable]="!isValidForm"
      (click)="transferToken()">
      Send
    </button>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</div>
