<div class="bg-white p-6 rounded-xl border border-gray-50 shadow-md">
  <!-- <img
    *ngIf="itemName?.image"
    src="{{ itemName?.image }}"
    alt="icon"
    style="width: 300px; height: 300px"
    class="object-cover mb-3" /> -->
  <div class="box-img flex justify-center content-center items-center">
    <span class="tracking-wide font-bold text-3xl inline-block align-bottom mb-4">{{ itemName }}</span>
  </div>
  <div class="text-gray-600 tracking-wide font-bold text-2xl my-3">{{ itemName }}</div>

  <div class="flex justify-between items-start">
    <div class="flex flex-col w-full">
      <button type="button" [ngClass]="btnColor.CyanToBlue" [routerLink]="['/name-service/', this.itemName]">
        Detail
      </button>
      <button type="button" [ngClass]="btnColor.PinkToOrange" (click)="toggleModal(itemName)">Transfer</button>
    </div>
  </div>
</div>

<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-6xl">
    <!--content-->
    <div
      class="border-0 rounded-lg shadow-lg relative flex flex-col bg-white outline-none focus:outline-none box-modal">
      <!--header-->
      <div class="p-5 border-b border-solid border-slate-200 rounded-t text-center">
        <h3 class="text-3xl font-semibold">
          Transfer <span class="text-cyan-600 text-xl">{{ itemName }}</span>
        </h3>
        <div class="box-img flex justify-center content-center items-center m-auto" style="width: 150px; height: 150px">
          <span class="tracking-wide font-bold text-xl inline-block align-bottom mb-4">{{ itemName }}</span>
        </div>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <p class="text-slate-500 text-lg leading-relaxed"></p>
        <div class="gap-4">
          <div class="">
            <!-- Address -->
            <div class="relative my-3">
              <input
                type="text"
                id="input-group-1"
                [style]="'min-width:400px;'"
                [(ngModel)]="address"
                (blur)="checkWallet()"
                class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pr-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="Enter Address" />
              <div class="flex absolute inset-y-0 right-0 items-center pr-3 cursor-pointer">
                <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z"></path>
                  <path
                    d="M6 3a2 2 0 00-2 2v11a2 2 0 002 2h8a2 2 0 002-2V5a2 2 0 00-2-2 3 3 0 01-3 3H9a3 3 0 01-3-3z"></path>
                </svg>
              </div>
            </div>
            <p *ngIf="invalidName" class="text-rose-600 text-md">Wallet address does not exist</p>
            <p *ngIf="addressTransfer" class="text-green-600 text-md">Send to: {{ addressTransfer }}</p>
          </div>
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-4 border-t border-solid border-slate-200 rounded-b">
        <button
          class="text-black-500 background-transparent font-bold px-6 py-2 text-md outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
          type="button"
          (click)="showModal = false">
          Cancel
        </button>
        <button
          [disabled]="invalidName"
          [class.btn-disable]="invalidName"
          (click)="transferNFT()"
          [ngClass]="btnColor.CyanToBlue"
          class="text-md"
          type="button">
          Confirm
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
