.box-modal {
  min-width: 700px;
}

.box-img {
  width: 100%;
  aspect-ratio: 1;
  background: rgb(138,170,229);
  background: linear-gradient(0deg, rgba(138,170,229,1) 0%, rgba(0,212,255,1) 100%);
  color: #fff;

  border-radius: 8px;
}

.btn-disable {
  background: none !important;
  color: black !important;
  border: 1px solid black;
}
