<div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-2 px-4 xl:p-0 gap-y-4 md:gap-6">
  <div class="md:col-span-2 xl:col-span-3 bg-white p-6 rounded-2xl border border-gray-50">
    <div class="flex flex-col space-y-6 md:h-full md:justify-between">
      <span class="text-lg text-gray-500 font-semibold uppercase tracking-wider"> Transfer Assets </span>
      <div class="d-flex mb-3 box-btn">
        <button
          type="button"
          (click)="changeTab(typeAssets.Token)"
          [ngClass]="typeCurrent === typeAssets.Token ? 'text-white bg-gradient-to-r from-cyan-500 to-blue-500' : ''"
          class="hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          Token
        </button>
        <button
          type="button"
          (click)="changeTab(typeAssets.NFT)"
          [ngClass]="typeCurrent === typeAssets.NFT ? 'text-white bg-gradient-to-r from-cyan-500 to-blue-500' : ''"
          class="hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
          NFT
        </button>
      </div>

      <app-transfer-token *ngIf="typeCurrent === typeAssets.Token"></app-transfer-token>
      <app-transfer-nft *ngIf="typeCurrent === typeAssets.NFT"></app-transfer-nft>
    </div>
  </div>
</div>
