<section class="checking-account py-5 md:py-10 text-center">
  <h1 class="text-6xl font-bold subpixel-antialiased text-slate-700">Find a name</h1>
  <div class="grid grid-cols-3 gap-4">
    <form (ngSubmit)="checkAccount()" class="col-start-2">
      <div class="mt-6 flex items-center">
        <div class="flex-shrink-0 flex-grow w-100">
          <label for="large-input" class="sr-only"></label>
          <input type="text" id="large-input"
                 class="{{ formDataValid ? formStyle.InputSingle : formStyle.InputSingleError }}"
                 placeholder="name" required (ngModelChange)="accountNameAvailable = false"
                 [(ngModel)]="account" (keyup)="account.length > 0 ? typing = true : typing = false;" name="account">
        </div>
        <button class="relative inline-flex items-center justify-center p-0.5 my-1 ml-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-green-400 to-blue-600 group-hover:from-green-400 group-hover:to-blue-600 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-green-200 dark:focus:ring-green-800"
                type="submit">
          <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
              Submit
          </span>
        </button>
      </div>
    </form>
  </div>
  <app-loading *ngIf="loading"></app-loading>
  <div *ngIf="typing && !accountNameAvailable && !accountNameUnAvailable" class="flex flex-col items-center">
      <div class="loading-wrapp mt-4">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="mt-2 text-base font-medium text-gray-500">"{{this.account}}" being checked..</div>
  </div>
  <div *ngIf="accountNameAvailable" class="flex flex-col items-center">
    <div>
      <img src="assets/images/check_green.png" alt="" width="150px" class="m-auto">
      <div class="mt-2 text-base font-medium text-gray-500">"{{this.account}}" is available for register</div>
    </div>
    <a [routerLink]="['/sign-up/mint', this.account]" type="button"
            class="mt-3 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-600 dark:focus:ring-blue-800">
      Mint your new id
    </a>
  </div>
  <div *ngIf="accountNameUnAvailable" class="flex flex-col items-center">
    <div>
      <img src="assets/images/error-red.png" alt="" width="150px" class="m-auto">
      <div class="mt-2 text-base font-medium text-gray-500">"{{this.account}}" is unavailable for register</div>
    </div>
  </div>
</section>
