<!-- Start Main -->
<div class="flex flex-col space-y-8">
  <!-- First Row -->
  <div class="grid grid-cols-1 md:grid-cols-4 xl:grid-cols-5 px-4 xl:p-0 gap-y-4 md:gap-6">
    <div class="md:col-span-2 xl:col-span-3 bg-white p-6 rounded-2xl border border-gray-50">
      <div class="flex flex-col space-y-6 md:h-full md:justify-between">
        <div class="flex justify-between">
          <span class="text-xs text-gray-500 font-semibold uppercase tracking-wider"> Main Account </span>
          <span class="text-xs text-gray-500 font-semibold uppercase tracking-wider"> Available Funds </span>
        </div>
        <div class="flex gap-2 md:gap-4 justify-between items-center">
          <div class="flex flex-col space-y-4">
            <h2 class="text-gray-800 font-bold tracking-widest leading-tight">Derol's Savings Account</h2>
            <div class="flex items-center gap-4">
              <p class="text-lg text-gray-600 tracking-wider">**** **** *321</p>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-4 h-4"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </div>
          </div>
          <h2 class="text-lg md:text-xl xl:text-3xl text-gray-700 font-black tracking-wider">
            <span class="md:text-xl">$</span>
            92,817.45
          </h2>
        </div>
        <div class="flex gap-2 md:gap-4">
          <button
            type="button"
            routerLink="/transfer"
            [ngClass]="btnColor.CyanToBlue">
            Transfer Assets
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- End First Row -->
  <!-- Start Second Row -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 px-4 xl:p-0 gap-4 xl:gap-6">
    <div class="col-span-1 md:col-span-2 lg:col-span-4 flex justify-between">
      <h2 class="text-xs md:text-sm text-gray-700 font-bold tracking-wide md:tracking-wider">Expenses By Category</h2>
      <a href="#" class="text-xs text-gray-800 font-semibold uppercase">More</a>
    </div>
    <ng-container *ngFor="let item of cardData">
      <app-card-info [cardData]="item"></app-card-info>
    </ng-container>
  </div>
  <!-- End Second Row -->
  <!-- Start Third Row -->
  <div class="grid grid-cols-1 md:grid-cols-5 items-start px-4 xl:p-0 gap-y-4 md:gap-6">
    <div class="col-start-1 col-end-5">
      <h2 class="text-xs md:text-sm text-gray-800 font-bold tracking-wide">Summary Transactions</h2>
    </div>
    <div class="col-span-2 bg-white p-6 rounded-xl border border-gray-50 flex flex-col space-y-6">
      <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 flex justify-between items-center">
        <div class="p-4 cursor-pointer border">
          <span class="text-xs text-gray-500 font-semibold">Daily</span>
          <h2 class="text-gray-800 font-bold tracking-wider">$ 27.80</h2>
        </div>
        <div class="p-4 cursor-pointer border">
          <span class="text-xs text-gray-500 font-semibold">Weekly</span>
          <h2 class="text-gray-800 font-bold tracking-wider">$ 192.92</h2>
        </div>
        <div class="p-4 cursor-pointer border">
          <span class="text-xs text-gray-500 font-semibold">Monthly</span>
          <h2 class="text-gray-800 font-bold tracking-wider">$ 501.10</h2>
        </div>
      </div>
      <canvas id="myChart"></canvas>
    </div>
    <div class="col-span-3 bg-white p-6 rounded-xl border border-gray-50 flex flex-col space-y-6">
      <div class="flex justify-between items-center">
        <h2 class="text-sm text-gray-600 font-bold tracking-wide">Latest Transactions</h2>
        <button
            type="button"
            routerLink="/transfer"
            [ngClass]="btnColor.TealToLime">
            MORE
          </button>
      </div>
      <!-- <app-data-table *ngIf="transactionList.length > 0" [data]="transactionList" [length]="transactionList.length" [templates]="templates"></app-data-table> -->
      <ul class="divide-y-2 divide-gray-100 overflow-x-auto w-full">
        <li class="py-3 flex justify-between text-sm text-gray-500 font-semibold">
          <p class="px-4 font-semibold">Today</p>
          <p class="px-4 text-gray-600">McDonald</p>
          <p class="px-4 tracking-wider">Cash</p>
          <p class="px-4 text-blue-600">Food</p>
          <p class="md:text-base text-gray-800 flex items-center gap-2">
            16.90
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </p>
        </li>
        <li class="py-3 flex justify-between text-sm text-gray-500 font-semibold">
          <p class="px-4 font-semibold">Today</p>
          <p class="px-4 text-gray-600">McDonald</p>
          <p class="px-4 tracking-wider">Cash</p>
          <p class="px-4 text-blue-600">Food</p>
          <p class="md:text-base text-gray-800 flex items-center gap-2">
            16.90
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </p>
        </li>
        <li class="py-3 flex justify-between text-sm text-gray-500 font-semibold">
          <p class="px-4 font-semibold">Today</p>
          <p class="px-4 text-gray-600">McDonald</p>
          <p class="px-4 tracking-wider">Cash</p>
          <p class="px-4 text-blue-600">Food</p>
          <p class="md:text-base text-gray-800 flex items-center gap-2">
            16.90
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </p>
        </li>
        <li class="py-3 flex justify-between text-sm text-gray-500 font-semibold">
          <p class="px-4 font-semibold">Today</p>
          <p class="px-4 text-gray-600">McDonald</p>
          <p class="px-4 tracking-wider">Cash</p>
          <p class="px-4 text-blue-600">Food</p>
          <p class="md:text-base text-gray-800 flex items-center gap-2">
            16.90
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </p>
        </li>
        <li class="py-3 flex justify-between text-sm text-gray-500 font-semibold">
          <p class="px-4 font-semibold">Today</p>
          <p class="px-4 text-gray-600">McDonald</p>
          <p class="px-4 tracking-wider">Cash</p>
          <p class="px-4 text-blue-600">Food</p>
          <p class="md:text-base text-gray-800 flex items-center gap-2">
            16.90
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </p>
        </li>
        <li class="py-3 flex justify-between text-sm text-gray-500 font-semibold">
          <p class="px-4 font-semibold">Today</p>
          <p class="px-4 text-gray-600">McDonald</p>
          <p class="px-4 tracking-wider">Cash</p>
          <p class="px-4 text-blue-600">Food</p>
          <p class="md:text-base text-gray-800 flex items-center gap-2">
            16.90
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <!-- End Third Row -->
</div>
<!-- End Main -->

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');

  const data = {
    labels: ['Food & beverages', 'Groceries', 'Gaming', 'Trip & holiday'],
    datasets: [
      {
        label: 'Total Expenses',
        data: [148, 150, 130, 170],
        backgroundColor: ['#3B82F6', '#10B981', '#6366F1', '#F59E0B'],
      },
    ],
  };

  const config = {
    type: 'polarArea',
    data: data,
    options: {
      plugins: {
        legend: {
          position: 'bottom',
        },
      },
    },
  };

  const chart = new Chart(ctx, config);
</script>
