<footer class="bg-gray-100">
  <div class="container mx-auto mt-8 px-8">
    <div class="py-6 text-center">
      <div class="mb-6">
        <a class="text-orange-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
          <svg class="h-6 w-6 inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M13 8V0L8.11 5.87 3 12h4v8L17 8h-4z" />
          </svg>
          NFT Station App
        </a>
      </div>
      <div class="font-medium text-slate-600">
        <p class="mb-2">Powered by NFTStation team.</p>
        <p class="mb-2">To integrate with (de)NS,follow these instructions.</p>
        <p class="mb-2">This is alpha software. By using it, you are agreeing to theTerms and Conditions of use.</p>
      </div>
    </div>
  </div>
</footer>
